{% extends '_base.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}


{% block content %}

<div class="my-5 py-5 container">
  {% if config %}
  <table>
    <thead>
      <tr>
        <th>Field</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fare per KM</td>
        <td> {{config.fare_per_km}} </td>      
      </tr>
      <tr>
        <td>Address</td>
        <td>
          <address>
            {{config.address}}<br>
            {{config.town}}<br>
            {{config.county}}<br>
            {{config.post_code}}<br>
          </address>
        </td>      
      </tr>
    </tbody>
  </table>
  </br>
  <label for="id-google-address">Change Address</label>
  {% else %}
  <label for="id-google-address">Add Address</label>
  {% endif %}

  <input type="text" placeholder="Begin typing address" id="id-google-address" name="google_address">

    <form id="profileform" method="POST" action="{% url "hub" %}">
        {% csrf_token %}

        
        <label for="address" class="hidden-el" hidden>Address</label>
        {{form.address}}
        
        <label for="town" class="hidden-el" hidden>Town/City</label>
        {{form.town}}
        
        <label for="county" class="hidden-el" hidden>County</label>
        {{form.county}}
        
        <label for="post_code" class="hidden-el" hidden>Postal Code</label>
        {{form.post_code}}
        
        <label for="country" class="hidden-el" hidden>Country</label>
        {{form.country}}
        
        <label for="longitude" class="hidden-el" hidden>Longitude</label>
        {{form.longitude}}
        
        <label for="latitude" class="hidden-el" hidden>Latitude</label>
        {{form.latitude}}
        
        <div class="form-group">
            <label for="id_fare_per_km">Fare per Kilometer</label>
            {{ form.fare_per_km }} 
        </div>

        <button type="submit" id="profile-btn">Update</button>
    </form>

</div>

{% endblock %}

{% block extend_footer %}

<script type="text/javascript">

  var google_api_key = "{{google_api_key|safe}}";
  var base_country = "{{base_country|safe}}";

</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initAutoComplete&loading=async&libraries=places"></script>
<script src="{% static 'google_places.js' %}"></script>


{% endblock %}